@model CulturezVous.Service.Areas.Admin.Models.ElementViewModel
<div class="control-group">
    <label class="control-label">
        Contenu
    </label>
    <div class="controls">
        <textarea id="Content" name="Content" rows="6">@Model.Content</textarea>
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        Solution
    </label>
    <div class="controls">
        <textarea id="Solution" name="Solution" rows="6">@Model.Solution</textarea>
    </div>
</div>