<MarketplaceDetails>
  <SmallAppTile>smallAppTile.png</SmallAppTile>
  <LargeAppTile>Background.png</LargeAppTile>
  <PCAppTile>marketPlaceLogo.png</PCAppTile>
  <ScreenShots>main_light_1.png;main_black_2.png;detail_light_word.png;detail_black_word.png;list_light.png;list_black.png;main_light_3.png;main_black_3.png;</ScreenShots>
</MarketplaceDetails>