@{
    ViewBag.Title = "Accueil Webservice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenue</h2>

<p>
    Si vous voyez cette page, c'est que vous soit un peu curieux soit dans l'équipe.
</p>
<p>
    Les liens divers utiles :
    <ul>
        <li><a href="http://www.culturez-vous.fr">Site vitrine</a></li>
        <li><a href="http://www.windowsphone.com/fr-fr/store/app/culturez-vous/fa6990ca-dae8-4c8d-b181-771869320d21">Accès Marketplace</a></li>
    </ul>

    Les liens utiles mais protégés des curieux :
    <ul>
        <li><a href="https://github.com/Valryon/Culturez-Vous">Dépôt Github</a></li>
        <li><a href="@Url.Action("Index", "Admin", new { area = "Admin" } )">Accès Admin</a></li>
    </ul>
</p>
