@{
    ViewBag.Title = "Index";
}
<h2>
    Accueil Admin
</h2>
<ul>
    <li>@Html.ActionLink("Liste des éléments", "Index", "Elements")</li>
    <li>@Html.ActionLink("Importer ancien webservice", "Index", "Import")</li>
</ul>
