<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Culturez-Vous - @ViewBag.Title</title>
    <link href=@Url.Content("~/Content/bootstrap/css/bootstrap.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.css") rel="stylesheet" type="text/css" />
    <script src="http://ressources.regionsjob.com/js/jquery/jquery.aspx.js"></script>
    <script src='http://ressources.regionsjob.com/js/jquery/jquery.datepicker.js'></script>
    <script src='http://ressources.regionsjob.com/js/date.js'></script>
    <script src='http://ressources.regionsjob.com/js/fonctions.js'></script>
    <link rel='stylesheet' media='all' href='http://ressources.regionsjob.com/css/jquery/jquery.datepicker.css' />
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="">Culturez-Vous</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        @*<li>@Html.ActionLink("Statistiques", "Index", "Stats", null, null)</li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="footer span12">
        <hr />
        <p>Copyright Damien Mayance et Matthieu Oger</p>
    </div>
</body>
</html>
