@{
    ViewBag.Title = "Présentation";
}
<!-- panorama panel-->
<div id="image">
    <img src="@Url.Content("~/Content/img/panorama.png")">
</div>
<!-- content-->
<div id="text">
    <article class="info">
        <h2>Qu'est-ce que c'est ?</h2>
        <p>« Culturez-Vous ! » est une application ludique et littéraire pour <strong>Windows Phone 7</strong>. </p>
        <p>Savez-vous ce qu'est un "Microtyrosemiophile" ou ce que signifie "Flafla" ? Notre but est de vous faire découvrir des mots ou expressions désuets et amusants de la langue française. </p>
        <p>Et tous les dimanches, c’est une contrepèterie qu’il faudra résoudre !</p>
    </article>
    <article class="info">
        <h2>À propos</h2>
        <p>
            Culturez-Vous ! nécessite une connexion de données sur votre téléphone, ainsi que Windows Phone Mango.
        </p>
        <p>  
            Nous remercions <a href="http://twitter.com/#!/1jour1mot" target="_blank">1Jour1Mot</a> pour nous fournir le contenu quotidien.
        </p>
        <p>Pour toute demande de support, contactez-nous via : </p>
        <p><a href="mailto:support@culturez-vous.fr" class="support">support@culturez-vous.fr</a></p>
    </article>
    <article id="download"><a href="http://windowsphone.com/s?appid=fa6990ca-dae8-4c8d-b181-771869320d21">
        <img src="@Url.Content("~/Content/img/marketplace.jpg")" alt="Télécharger sur le Marketplace WP7 !" title="Télécharger sur le Marketplace WP7 !" width="80" height="80">
        <p>Télécharger sur le marketplace</p></a>
    </article>
</div>
